@charset "UTF-8";

body{
    background-color: #155475;
}
#Vamos-aprender
{
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    color: #76CAF7
}
h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    color: #2CAFF5;
}
.Cebola2{
    background-color:  #386075;
    color: white;
    text-align: center;
}
.Cebolas{
    background-color:  #386075;
    color: white;
    text-align: center;
}
.Cebolascoloridas{
    border-radius: inherit;
    text-align: right;
    text-align: justify;
    color: #238AC2

}
img {
    image-resolution: 30px;

}